main {
    display: grid;
    grid-template-areas: "exponent datachart" "data data";
    grid-template-rows: repeat(1fr, auto);
                         
}

#exponentFig {
    grid-area: exponent;
}

#covidData {
    grid-area: data;
    overflow: auto;
    max-height: 50vh;
}

#covidData h2 {
    position: sticky;
    top: 0;
    background: white;
    margin-bottom: .5rem;
}

#covidData table thead {
    position: sticky;
    top: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    background: white;
}


#covidFig {
    grid-area: datachart;
}

@media screen and (min-width: 1000px) {
    main {
        /* grid-template-columns: 1fr 1fr; */
        grid-template-areas: "exponent datachart" "data";
        grid-template-columns: 1fr 1fr;
                             
    }
}

section {
    overflow: auto;
}
